#quick-tags {
    --border-color: #000;
    --background-color: #ddd;
    --padding: 8px;
    height: 100%;
    background-color: var(--background-color);
    display: grid;
    grid-template-areas: "media select tree";
    grid-template-columns: 320px auto 1fr;
    position: relative;
}

#quick-tags .media,
#quick-tags .quick-select,
#quick-tags .tag-tree {
    padding: 2px;
    border-right: 1px solid var(--border-color);
    height: 100%;
    overflow: auto;
}

#quick-tags .media {
    grid-area: media;
}

#quick-tags .quick-select {
    grid-area: select;
    min-width: 200px;
    padding: var(--padding);
}

#quick-tags .quick-select .hotkey {
    min-height: 50%;
    border-bottom: 1px solid #444;
}

#quick-tags .quick-select .hotkey,
#quick-tags .quick-select .recent-tags {
    margin-bottom: 4px;
    padding-bottom: 4px;
}

#quick-tags .quick-select .hotkey h5,
#quick-tags .quick-select .recent-tags h5 {
    display: inline-block;
    margin-left: 8px;
}

#quick-tags .quick-select .hotkey h6,
#quick-tags .quick-select .recent-tags h6 {
    display: inline-block;
    color: #777;
    width: 3em;
    font-variant: small-caps;
}

#quick-tags .quick-select .hotkey .keys,
#quick-tags .quick-select .hotkey .recent,
#quick-tags .quick-select .recent-tags .keys,
#quick-tags .quick-select .recent-tags .recent {
    white-space: nowrap;
}

#quick-tags .quick-select .hotkey .keys>.key,
#quick-tags .quick-select .hotkey .recent>.key,
#quick-tags .quick-select .recent-tags .keys>.key,
#quick-tags .quick-select .recent-tags .recent>.key {
    display: block;
}

#quick-tags .quick-select .hotkey .keys h6,
#quick-tags .quick-select .hotkey .recent h6,
#quick-tags .quick-select .recent-tags .keys h6,
#quick-tags .quick-select .recent-tags .recent h6 {
    display: inline-block;
    color: #000;
    text-align: center;
}

#quick-tags .quick-select .hotkey .keys div,
#quick-tags .quick-select .hotkey .recent div,
#quick-tags .quick-select .recent-tags .keys div,
#quick-tags .quick-select .recent-tags .recent div {
    display: inline-block;
}

#quick-tags .tag-tree {
    --placeholder: "  search...";
    display: flex;
    flex-flow: column;
    align-items: stretch;
    height: 100%;
    overflow: hidden;
    grid-area: tree;
    border-right: 0;
    padding: 0;
}

#quick-tags .tag-tree>div {
    padding: var(--padding);
}

#quick-tags .tag-tree div.search {
    flex: 0 0 content;
}

#quick-tags .tag-tree div.search .input {
    width: 50em;
    display: block;
    margin-bottom: 4px;
}

#quick-tags .tag-tree div.create {
    flex: 0 0 content;
    border-bottom: 1px solid #444;
}

#quick-tags .tag-tree div.create .parent {
    display: inline-block;
    position: relative;
    color: #777;
}

#quick-tags .tag-tree div.create .parent::after {
    content: ":";
}

#quick-tags .tag-tree div.create .name {
    color: #000;
    margin-left: 2em;
}

#quick-tags .tag-tree div.tags {
    flex: 1 1 auto;
    overflow: auto;
    margin-top: var(--padding);
}

#quick-tags .small {
    margin: 1em 4px;
}

#quick-tags .small>div {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin-right: 4px;
    border: 1px solid var(--border-color);
}

#quick-tags .small>div img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    display: block;
    margin: auto auto;
}

#quick-tags .focus {
    display: block;
    border: 1px solid white;
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}

#quick-tags .focus img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto auto;
}

#quick-tags .images {
    margin: auto auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#quick-tags .images img.rotate-270 {
    transform: rotate(270deg);
}

#quick-tags .images img.rotate-90 {
    transform: rotate(90deg);
}

#quick-tags .tag.node {
    position: relative;
}

#quick-tags .tag.node .hotkey {
    font-weight: lighter;
    font-size: var(--small-font-size);
}

#quick-tags .tag.node .hotkey input {
    width: 40px;
    display: inline-block;
    text-align: center;
}

#quick-tags .tag.node .self {
    position: relative;
    --placeholder: " ";
}

#quick-tags .tag.node .self .on-hover {
    display: none;
    position: absolute;
    top: 2px;
    right: var(--padding);
}

#quick-tags .tag.node .self .input {
    width: 2em;
    margin-right: 1em;
    text-align: center;
}

#quick-tags .tag.node .self:hover {
    background-color: #ffa;
    height: 2em;
}

#quick-tags .tag.node .self:hover .on-hover {
    display: inline-block;
}

#quick-tags .tag.node .children.empty {
    display: none;
}

#quick-tags .tag.node>.children {
    margin-left: 1em;
    border-left: 1px dotted #777;
    padding-left: 0px;
    position: relative;
}

#quick-tags .tag.node>.children>.tag.node {
    padding-left: 8px;
}

#quick-tags .tag.node>.children>.tag.node>.self::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: -6px;
    width: 8px;
    height: 1px;
    border-top: 1px dotted #777;
}

#quick-tags .no-items {
    font-style: italic;
    display: block;
    text-align: center;
}

@-webkit-keyframes cursorBlink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes cursorBlink {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#quick-tags .input {
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
    color: 1px solid #777;
    background-color: white;
    display: inline-block;
    width: 50em;
    position: relative;
    height: 24px;
    overflow: hidden;
    padding-left: 2px;
}

#quick-tags .input .start {
    font-size: 1.2rem;
    vertical-align: top;
}

#quick-tags .input .start:empty::after {
    content: var(--placeholder);
    color: #aaa;
    position: absolute;
    top: 0px;
    left: 4px;
}

#quick-tags .input .cursor {
    vertical-align: top;
    width: 2px;
    background-color: #aaa;
    height: 12px;
    margin-top: 4px;
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: cursorBlink;
    animation-name: cursorBlink;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#quick-tags .input.active .cursor {
    display: inline-block;
}

#quick-tags .search .phrase .level {
    position: relative;
    padding-right: 15px;
}

#quick-tags .search .phrase .level .word~.word {
    display: inline-block;
    margin-left: 8px;
}

#quick-tags .search .phrase .level::after {
    content: "/";
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: small;
    font-weight: lighter;
}

#quick-tags .search .phrase .level:last-child {
    padding-right: 0;
    padding-top: 2px;
    color: #444;
}

#quick-tags .search .phrase .level:last-child::after {
    display: none;
}

#quick-tags .tag.match>.self {
    color: blue;
}

#quick-tags .tag.match.selected>.self .name {
    outline: 1px dashed blue;
}

#quick-tags .tag>.self span.name {
    display: inline-block;
    color: #444;
}

#quick-tags .tag>.self span.name b {
    color: blue;
}

#quick-tags .tag>.self span.name .level {
    margin-right: 8px;
}

#quick-tags .tag>.self span.name .new {
    background-color: white;
    outline: 1px solid #444;
    padding-left: 1em;
}

#quick-tags .tag>.self span.name .new button {
    margin-left: 0.5rem;
}

#quick-tags .tag>.self span.name div {
    display: inline-block;
}