#quick-tags {
    --border-color: #000;
    //--background-color: #ddd;
    --padding: 8px;
    height: 100%;
    background: linear-gradient(142deg, var(--background-color), var(--foreground-color)),
        linear-gradient(0deg, var(--background-color),
            var(--foreground-color));
    background-size: 3px 3px;
    color: var(--component-foreground-color);
    display: grid;
    grid-template-areas: "media sizer select tree";
    grid-template-columns: auto auto auto 1fr;
    position: relative;

    .quick-tags-sizer {
        grid-area: sizer;
    }

    .media,
    .quick-select,
    .quick-tag-tree {
        padding: 2px;
        border-right: 1px solid var(--border-color);
        height: 100%;
        overflow: auto;
    }

    .media {
        grid-area: media;
        background-color: var(--component-background-color);
    }

    .quick-select {
        grid-area: select;
        background-color: var(--component-background-color);
        min-width: 200px;
        padding: var(--padding);
    }

    .quick-select .hotkey {
        min-height: 50%;
        border-bottom: 1px solid #444;
    }

    .quick-select .hotkey,
    .quick-select .recent-tags {
        margin-bottom: 4px;
        padding-bottom: 4px;
    }

    .quick-select .hotkey h5,
    .quick-select .recent-tags h5 {
        display: inline-block;
        margin-left: 8px;
    }

    .quick-select .hotkey h6,
    .quick-select .recent-tags h6 {
        display: inline-block;
        color: #777;
        width: 3em;
        font-variant: small-caps;
    }

    .quick-select .hotkey .keys,
    .quick-select .hotkey .recent,
    .quick-select .recent-tags .keys,
    .quick-select .recent-tags .recent {
        white-space: nowrap;
    }

    .quick-select .hotkey .keys>.key,
    .quick-select .hotkey .recent>.key,
    .quick-select .recent-tags .keys>.key,
    .quick-select .recent-tags .recent>.key {
        display: block;
    }

    .quick-select .hotkey .keys h6,
    .quick-select .hotkey .recent h6,
    .quick-select .recent-tags .keys h6,
    .quick-select .recent-tags .recent h6 {
        display: inline-block;
        color: #000;
        text-align: center;
    }

    .quick-select .hotkey .keys div,
    .quick-select .hotkey .recent div,
    .quick-select .recent-tags .keys div,
    .quick-select .recent-tags .recent div {
        display: inline-block;
    }

    .quick-tag-tree {
        --placeholder: "  search...";
        display: flex;
        flex-flow: column;
        align-items: stretch;
        height: 100%;
        overflow: hidden;
        grid-area: tree;
        border-right: 0;
        padding: 0;
                background-color: var(--component-background-color);

    }

    .quick-tag-tree>div {
        padding: var(--padding);
    }

    .quick-tag-tree div.search {
        flex: 0 0 content;
    }

    .quick-tag-tree div.search .input {
        width: 50em;
        display: block;
        margin-bottom: 4px;
    }

    .quick-tag-tree div.create {
        flex: 0 0 content;
        border-bottom: 1px solid #444;
    }

    .quick-tag-tree div.create .parent {
        display: inline-block;
        position: relative;
        color: var(--accent-foreground-color);
    }

    .quick-tag-tree div.create .parent::after {
        content: ":";
    }

    .quick-tag-tree div.create .name {
    color: var(--component-foreground-color);
        margin-left: 2em;
    }

    .quick-tag-tree div.tags {
        flex: 1 1 auto;
        overflow: auto;
        margin-top: var(--padding);
    }

    .small {
        margin: 1em 4px;
    }

    .small>div {
        display: inline-block;
        width: 90px;
        height: 90px;
        margin-right: 4px;
        border: 1px solid var(--border-color);
    }

    .small>div img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
        display: block;
        margin: auto auto;
    }

    .focus {
        display: block;
        border: 1px solid white;
        background-color: white;
        width: 100%;
        //height: 300px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
    }

    .focus img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto auto;
    }

    .images {
        margin: auto auto;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    .tag.node {
        position: relative;
    }

    .tag.node .hotkey {
        font-weight: lighter;
        font-size: var(--small-font-size);
    }

    .tag.node .hotkey input {
        width: 40px;
        display: inline-block;
        text-align: center;
    }

    .tag.node .self {
        position: relative;
        --placeholder: " ";
    }

    .tag.node .self .on-hover {
        display: none;
        position: absolute;
        top: 2px;
        right: var(--padding);
    }

    .tag.node .self .input {
        width: 2em;
        margin-right: 1em;
        text-align: center;
    }

    .tag.node .self:hover {
        background-color: #ffa;
        height: 2em;
    }

    .tag.node .self:hover .on-hover {
        display: inline-block;
    }

    .tag.node .children.empty {
        display: none;
    }

    .tag.node>.children {
        margin-left: 1em;
        border-left: 1px dotted var(--accent-foreground-color);
        padding-left: 0px;
        position: relative;
    }

    .tag.node>.children>.tag.node {
        padding-left: 8px;
    }

    .tag.node>.children>.tag.node>.self::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: -6px;
        width: 8px;
        height: 1px;
        border-top: 1px dotted var(--accent-foreground-color);
    }

    .no-items {
        font-style: italic;
        display: block;
        text-align: center;
    }

    @-webkit-keyframes cursorBlink {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes cursorBlink {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .input {
        vertical-align: top;
        text-align: left;
        border: 1px solid black;
        color: var(--foreground-color);;
        background-color: var(--background-color);
        display: inline-block;
        width: 50em;
        position: relative;
        height: 24px;
        overflow: hidden;
        padding-left: 2px;
    }

    .input .start {
        font-size: 1.2rem;
        vertical-align: top;
    }

    .input .start:empty::after {
        content: var(--placeholder);
        color: var(--control-foreground-color);
        position: absolute;
        top: 0px;
        left: 4px;
    }

    .input .cursor {
        vertical-align: top;
        width: 2px;
        background-color: var(--control-background-color);;
        height: 12px;
        margin-top: 4px;
        display: none;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-name: cursorBlink;
        animation-name: cursorBlink;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }

    .input.active .cursor {
        display: inline-block;
    }

    .search .phrase .level {
        position: relative;
        padding-right: 15px;
    }

    .search .phrase .level .word~.word {
        display: inline-block;
        margin-left: 8px;
    }

    .search .phrase .level::after {
        content: "/";
        position: absolute;
        right: 5px;
        top: 4px;
        font-size: small;
        font-weight: lighter;
    }

    .search .phrase .level:last-child {
        padding-right: 0;
        padding-top: 2px;
    }

    .search .phrase .level:last-child::after {
        display: none;
    }

    .tag.match>.self {
        color: var(--accent-color);
    }

    .tag.match.selected>.self .name {
        outline: 1px dashed var(--accent-color);
    }

    .tag>.self span.name {
        display: inline-block;
        color: var(--accent-color-foreground);
    }

    .tag>.self span.name b {
        color: var(--accent-color);
    }

    .tag>.self span.name .level {
        margin-right: 8px;
    }

    .tag>.self span.name .new {
        outline: 1px solid var(--accent-foreground-color);
        padding-left: 1em;
    }

    .tag>.self span.name .new button {
        margin-left: 0.5rem;
    }

    .tag>.self span.name div {
        display: inline-block;
    }
}