body {
  padding: 0px;
  margin: 0px;
}

#main-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-areas: "view-options" "content" "status";
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
}
#main-content #view-options {
  grid-area: view-options;
}
#main-content #content-view {
  grid-area: content;
  overflow: hidden;
}
#main-content #status-bar {
  grid-area: status;
}

#media-view {
  grid-area: content;
  display: grid;
  grid-template-areas: "date-filter date-filter date-filter" "media-filter media-items media-details";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr;
  height: 100%;
  max-height: 100%;
}
#media-view .media-items {
  grid-area: media-items;
  height: auto;
  max-height: 100%;
  overflow: auto;
  position: relative;
}
#media-view .media-items .layout {
  position: relative;
}
#media-view .media-items .layout-view {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #dddddd;
}
#media-view .media-items .media-item.unloaded {
  background-image: url("../image/loading.gif");
}
#media-view .media-items .media-item {
  left: 0;
  top: 0;
  overflow: hidden;
  border: 1px solid green;
  display: block;
  position: absolute;
  aspect-ratio: 1/1;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
#media-view .media-items .media-item .name {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 68, 68, 0.4666666667);
}
#media-view .media-items .media-item .details {
  position: relative;
  z-index: 2;
  background-color: black;
  min-height: 3rem;
  color: white;
  display: none;
}
#media-view .media-items .media-item img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  aspect-ratio: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
}
#media-view .media-items .media-item .error {
  display: block;
  width: 32px;
  height: 32px;
  left: 48px;
  top: 48px;
  background-color: red;
}
#media-view .media-items .media-item.selected {
  outline: 6px solid #ffa;
}
#media-view .media-items .media-item.loaded {
  background-image: unset;
}
#media-view .detailed .media-item .details {
  display: block;
}
#media-view .minimal .media-item .name {
  display: none;
}
#media-view .date-filter {
  grid-area: date-filter;
  max-height: 3rem;
}
#media-view .media-filter {
  grid-area: media-details;
}
#media-view .media-details {
  grid-area: media-filter;
}

.date-select {
  background-color: #000000;
  position: relative;
  height: 2rem;
}
.date-select .start {
  height: 2em;
  left: 0px;
  width: 10rem;
  position: absolute;
  background-color: white;
  text-align: center;
  line-height: 2em;
}
.date-select .end {
  height: 2em;
  text-align: center;
  line-height: 2em;
  top: 0px;
  right: 0px;
  width: 10rem;
  position: absolute;
  background-color: white;
}
.date-select .svg-container {
  position: absolute;
  left: 10rem;
  right: 10rem;
  top: 0;
  height: 2em;
}
.date-select svg {
  width: 100%;
  height: 100%;
}
.date-select svg rect {
  fill: hsl(230deg, 100%, 50%);
  height: 100%;
  width: 20px;
  top: 0;
}
.date-select .popup-details {
  position: absolute;
  left: 50px;
  top: 200px;
  height: auto;
  border: 2px solid black;
  display: none;
  z-index: 100;
  background-color: #ffffff;
  min-width: 300px;
}
.date-select .popup-details.show {
  display: block;
}
.date-select .popup-details.show img {
  width: 128px;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.danger {
  background-color: #ffaaaa;
}

.success {
  background-color: #aaffaa;
}

button {
  border-radius: 4px;
}

button:hover {
  border-color: #ffff44;
  outline: 2px #ffff77 outset;
}

.panel {
  border: 1px solid #fafafa;
  background-color: white;
}

#view-options {
  height: 4em;
}

#status-bar {
  top: unset;
  height: 4em;
}

.name-value {
  width: 100%;
}
.name-value > div {
  margin-top: 1em;
}
.name-value label {
  display: inline-block;
  width: 12em;
  margin-right: 2em;
  vertical-align: top;
}
.name-value input,
.name-value .value {
  width: calc(100% - 15em);
  display: inline-block;
}

.settings-component {
  padding: 2rem;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}

.tree {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
  padding: 2px;
  max-height: calc(100% - 4rem);
  height: 20rem;
  overflow: auto;
}
.tree .tree-item {
  display: grid;
  width: 100%;
  grid-template-areas: "open check name" "children children children";
  grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
}
.tree .tree-item .open-close {
  grid-area: open;
  width: 10px;
  position: relative;
}
.tree .tree-item .children {
  grid-area: children;
  margin-left: 2rem;
  border-left: 1px solid #aaa;
  border-bottom: 0px solid red;
}
.tree .tree-item input[type=checkbox] {
  grid-area: check;
  width: 16px;
  height: 16px;
  background-color: blue;
  margin-left: 6px;
}
.tree .tree-item span.name {
  grid-area: name;
  white-space: nowrap;
}
.tree .tree-item > .open-close::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  top: 4px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  padding: 3px;
}
.tree .tree-item.open > .open-close::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  top: 4px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  padding: 3px;
}
.tree .tree-item.closed .children {
  display: none;
}

.folders.selected {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
  padding: 2px;
  height: 5rem;
  overflow: auto;
}
.folders.selected ul {
  padding-left: 2rem;
}/*# sourceMappingURL=MediaTagger.css.map */