body {
  padding: 0px;
  margin: 0px;
}

#main-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.danger {
  background-color: #ffaaaa;
}

.success {
  background-color: #aaffaa;
}

button {
  border-radius: 4px;
}

button:hover {
  border-color: #ffff44;
  outline: 2px #ffff77 outset;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid red;
  z-index: 10;
  background-color: white;
}

#view-options {
  height: 4em;
}

#tags {
  left: unset;
  bottom: unset;
  top: 4em;
  width: 15rem;
  height: calc(50vh - 4em);
}


#properties {
  left: unset;
  bottom: unset;
  top: 50vh;
  width: 15rem;
  height: calc(50vh - 4em);
}

#status-bar {
  top: unset;
  height: 4em;
}

#media {
  z-index: 1;
  top: 4em;
  right: 15rem;
  bottom: 4em;
  overflow: auto;
  border: 4px solid white;
  background-color: black;
  color: white;
}

.media-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .media-item {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border: 1px solid green;
    flex-basis: auto;
    position: relative;

    .name {
      position: relative;
      z-index: 2;
      background-color: #00444477;
    }

    img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 128px;
      max-height: 128px;
      z-index: 1;


    }

    .loading,
    .load-waiting {
      display: block;
      width: 32px;
      height: 32px;
      left: 48px;
      top: 48px;
    }

    .error {
      display: block;
      width: 32px;
      height: 32px;
      left: 48px;
      top: 48px;
      background-color: red;
    }
  }
}

.name-value {
  width: 100%;

  >div {
    margin-top: 1em;
  }

  label {
    display: inline-block;
    width: 12em;
    margin-right: 2em;
    vertical-align: top;
  }

  input,
  .value {
    width: calc(100% - 15em);
    display: inline-block;
  }
}

.settings-component {
  padding: 2rem;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}

.tree {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
  padding: 2px;
  max-height: calc(100% - 4rem);
  height: 20rem;
  overflow: auto;

  .tree-item {
    display: grid;
    width: 100%;
    grid-template-areas:
      "open check name"
      "children children children";
    grid-template-columns: max-content max-content 1fr;
    grid-template-rows: max-content;


    .open-close {
      grid-area: open;
      width: 10px;
      position: relative;
    }

    .children {
      grid-area: children;
      margin-left: 2rem;
      border-left: 1px solid #aaa;
      border-bottom: 0px solid red;
    }

    input[type='checkbox'] {
      grid-area: check;
      width: 16px;
      height: 16px;
      background-color: blue;
      margin-left: 6px;
    }

    span.name {
      grid-area: name;
      white-space: nowrap;
    }

    >.open-close::after {
      content: '';
      position: absolute;
      left: 4px;
      right: 4px;
      bottom: 4px;
      top: 4px;
      border: 0px solid #aaa;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
      padding: 3px;
    }

    &.open {

      >.open-close::after {
        content: '';
        position: absolute;
        left: 4px;
        right: 4px;
        bottom: 4px;
        top: 4px;
        border: 0px solid #aaa;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        padding: 3px;
      }
    }

    &.closed .children {
      display: none;

    }


  }
}

.folders.selected {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
  padding: 2px;
  height: 5rem;
  overflow: auto;

  ul {
    padding-left: 2rem;
  }
}