body {
  padding: 0px;
  margin: 0px;
}

:root {
  --dialog-background-color: hsl(200 50% 50%);
  --focus-background-color: hsl(200 50% 50%);
  --light-background-color: hsl(0 0% 100%);
  --heading-background-color: hsl(50 50% 50%);
}

:root {
  --container-padding: 2px;
  --gap-size: 10px;
}

.mt-modal {
  z-index: 9998;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.dialog {
  background-color: var(--dialog-background-color);
  border: 4px inset #444;
  position: absolute;
  min-width: 25%;
  z-index: 9999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 2rem;
}
.dialog h1 {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}
.dialog .body *:required:invalid {
  border: 1px solid red;
}
.dialog .body > * {
  margin-top: 0.25rem;
}
.dialog .body textarea {
  width: 100%;
  display: block;
}
.dialog .buttons {
  margin-top: 1rem;
}
.dialog .buttons .cancel {
  color: red;
}
.dialog .messages {
  color: red;
  margin-top: 0.25rem;
}

h1 {
  position: relative;
}
h1 .buttons {
  position: absolute;
  right: 4px;
}
h1 .buttons button {
  display: none;
  border: 0px;
  background-color: transparent;
}
h1:hover button {
  display: inline-block;
}

label.check-state {
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
}
label.check-state input[type=checkbox] {
  opacity: 0;
}
label.check-state::after {
  content: "";
  background-color: #777;
  border: 1px solid #444;
  z-index: 10;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

label.check-state[data-state=checked]::after {
  background-color: #27401d;
  background-image: url(../image/check.png);
  background-size: cover;
  border-radius: 4px;
}

label.check-state[data-state=checked-and-children]::after {
  background-color: #27401d;
  background-image: url(../image/child-check.png);
  background-size: cover;
  border-radius: 4px;
}

label.check-state[data-state=checked-no-children]::after {
  background-color: #27401d;
  background-image: url(../image/child-uncheck.png);
  background-size: cover;
  border-radius: 4px;
}

label.check-state[data-state=child-only-check]::after {
  background-color: #27401d;
  background-image: url(../image/child-only-check.png);
  background-size: cover;
  border-radius: 4px;
}

label.check-state[data-state=unchecked]::after {
  background-color: #eee;
  background-image: url(../image/nocheck.png);
  background-size: cover;
  border-radius: 4px;
}

#main-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-areas: "view-options" "content" "status";
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
}
#main-content #view-options {
  grid-area: view-options;
}
#main-content #content-view {
  grid-area: content;
  overflow: hidden;
}
#main-content #status-bar {
  grid-area: status;
}

.date-select {
  background-color: #000000;
  position: relative;
  height: 2rem;
}
.date-select .start {
  height: 2em;
  left: 0px;
  width: 10rem;
  position: absolute;
  background-color: #ccccff;
  text-align: center;
  line-height: 2em;
}
.date-select .end {
  height: 2em;
  text-align: center;
  line-height: 2em;
  top: 0px;
  right: 0px;
  width: 10rem;
  position: absolute;
  background-color: #ccccff;
}
.date-select .svg-container {
  position: absolute;
  left: 10rem;
  right: 10rem;
  top: 0;
  height: 2em;
}
.date-select svg {
  width: 100%;
  height: 100%;
}
.date-select svg rect {
  fill: hsl(230deg, 100%, 50%);
  height: 100%;
  width: 20px;
  top: 0;
}
.date-select .popup-details {
  position: absolute;
  left: 50px;
  top: 200px;
  height: auto;
  border: 2px solid black;
  display: none;
  z-index: 100;
  background-color: #ffffff;
  min-width: 300px;
}
.date-select .popup-details.show {
  display: block;
}
.date-select .popup-details.show img {
  width: 128px;
}

#media-view {
  background: linear-gradient(142deg, #777777, #ffffff), linear-gradient(0deg, #777777, #ffffff);
  background-size: 3px 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  grid-area: content;
  display: grid;
  grid-template-areas: "date-filter date-filter date-filter date-filter date-filter" "media-filter grid-sizer-filter   media-items grid-sizer-details  media-details";
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-rows: auto 1fr;
  height: 100%;
  max-height: 100%;
}
#media-view > * {
  background-color: transparent;
}
#media-view .media-items {
  grid-area: media-items;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  display: block;
  position: relative;
  background-color: #dddddd;
}
#media-view .media-items .view {
  grid-area: view;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
}
#media-view .media-items .media-item.unloaded {
  background-image: url("../image/loading.gif");
}
#media-view .media-items .media-item {
  left: 0;
  top: 0;
  overflow: hidden;
  border: 2px solid transparent;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  aspect-ratio: 1/1;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
}
#media-view .media-items .media-item .name {
  position: relative;
  z-index: 2;
  background-color: rgba(0, 68, 68, 0.4666666667);
  max-width: 100%;
}
#media-view .media-items .media-item .details {
  position: relative;
  z-index: 2;
  background-color: black;
  min-height: 3rem;
  color: white;
  display: none;
}
#media-view .media-items .media-item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: auto;
  max-width: 100%;
  max-height: 100%;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
#media-view .media-items .media-item .error {
  display: block;
  width: 32px;
  height: 32px;
  left: 48px;
  top: 48px;
  background-color: red;
}
#media-view .media-items .media-item.group::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-image: url(../image/group.png?v=1);
  z-index: 100;
  background-size: cover;
}
#media-view .media-items .media-item.group.primary::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  background-image: url(../image/group-primary.png?v=1);
  z-index: 100;
  background-size: cover;
}
#media-view .media-items .media-item.selected {
  outline: 6px solid #ffa;
}
#media-view .media-items .media-item.focus {
  background-color: var(--focus-background-color);
}
#media-view .media-items .media-item.focus::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 2px solid var(--focus-background-color);
  z-index: 999;
}
#media-view .media-items .media-item.loaded {
  background-image: unset;
}
#media-view .filter-sizer {
  grid-area: grid-sizer-filter;
}
#media-view .details-sizer {
  grid-area: grid-sizer-details;
}
#media-view .detailed .media-item .details {
  display: block;
}
#media-view .minimal .media-item .name {
  display: none;
}
#media-view .date-filter {
  grid-area: date-filter;
  max-height: 3rem;
}
#media-view .media-filter {
  grid-area: media-filter;
  background-color: #ffffff;
  width: 250px;
  overflow: auto;
}
#media-view .media-filter .allnone a {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 8px;
}
#media-view .media-details {
  height: 100%;
  overflow: auto;
  grid-area: media-details;
  width: 250px;
}

.multi-select .popup button.group {
  display: unset;
}

.rotate-90 img {
  transform: rotate(90deg);
}

.rotate-180 img {
  transform: rotate(180deg);
}

.rotate-270 img {
  transform: rotate(-90deg);
}

#media-file-editor-container {
  position: absolute;
  border: 1px solid black;
  background-color: var(--focus-background-color);
  padding: var(--container-padding);
  z-index: 1000;
}
#media-file-editor-container button.ungroup {
  display: none;
}
#media-file-editor-container button.group {
  display: none;
}
#media-file-editor-container.grouped button.ungroup {
  display: inline-block;
}

#media-file-editor .selections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--gap-size);
}
#media-file-editor .selections > div {
  flex: 1 0 auto;
  min-width: 200px;
  max-width: 700px;
  background-color: var(--light-background-color);
}
#media-file-editor .selections > div h1 {
  padding: 2px;
  background-color: var(--heading-background-color);
}
#media-file-editor .match {
  font-weight: bold;
  text-decoration: underline;
}
#media-file-editor label.highlight {
  outline: 1px dashed #aaa;
  display: block;
}
#media-file-editor .key {
  width: 20px;
  display: inline-block;
  text-align: center;
}
#media-file-editor .key-modifier {
  font-size: 10px;
}

.tag-filter h1 {
  position: relative;
}
.tag-filter h1 .buttons {
  position: absolute;
  top: 10px;
  right: 2px;
  white-space: nowrap;
  display: none;
}
.tag-filter h1 .buttons button {
  background-color: transparent;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  background-size: cover;
}
.tag-filter h1:hover .buttons {
  display: inline-block;
}

#tag-details .tag-tree,
.tag-filter .tag-tree {
  background-color: transparent;
}
#tag-details .tag-tree .tag,
.tag-filter .tag-tree .tag {
  position: relative;
  display: grid;
  grid-template-areas: "toggle checkname" ". children";
  grid-template-columns: 12px 1fr;
  grid-template-rows: 20px auto;
}
#tag-details .tag-tree .tag .toggle,
.tag-filter .tag-tree .tag .toggle {
  grid-area: toggle;
  height: 16px;
  width: 16px;
  display: inline-block;
  background-color: transparent;
  z-index: 10;
}
#tag-details .tag-tree .tag .toggle + label,
.tag-filter .tag-tree .tag .toggle + label {
  margin-left: 4px;
}
#tag-details .tag-tree .tag label,
.tag-filter .tag-tree .tag label {
  grid-area: checkname;
  white-space: nowrap;
}
#tag-details .tag-tree .tag .name,
.tag-filter .tag-tree .tag .name {
  padding-left: 2px;
}
#tag-details .tag-tree .tag .children,
.tag-filter .tag-tree .tag .children {
  grid-area: children;
}
#tag-details .tag-tree .tag .children .new,
.tag-filter .tag-tree .tag .children .new {
  background-color: #aaaa00;
  padding: 2px;
  position: relative;
}
#tag-details .tag-tree .tag .children .new .tag-name,
.tag-filter .tag-tree .tag .children .new .tag-name {
  width: 100%;
}
#tag-details .tag-tree .tag .children .new .tag-name:-moz-placeholder-shown ~ div .ok, .tag-filter .tag-tree .tag .children .new .tag-name:-moz-placeholder-shown ~ div .ok {
  visibility: hidden;
}
#tag-details .tag-tree .tag .children .new .tag-name:-ms-input-placeholder ~ div .ok, .tag-filter .tag-tree .tag .children .new .tag-name:-ms-input-placeholder ~ div .ok {
  visibility: hidden;
}
#tag-details .tag-tree .tag .children .new .tag-name:placeholder-shown ~ div .ok,
.tag-filter .tag-tree .tag .children .new .tag-name:placeholder-shown ~ div .ok {
  visibility: hidden;
}
#tag-details .tag-tree .tag .children .new .cancel,
.tag-filter .tag-tree .tag .children .new .cancel {
  position: absolute;
  right: 0;
}
#tag-details .tag-tree .has-children::after,
.tag-filter .tag-tree .has-children::after {
  content: "";
  position: absolute;
  left: 0px;
  width: 4px;
  height: 4px;
  top: 2px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  padding: 3px;
}
#tag-details .tag-tree .has-children.closed::after,
.tag-filter .tag-tree .has-children.closed::after {
  position: absolute;
  left: 0px;
  width: 4px;
  height: 4px;
  top: 2px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  padding: 3px;
}
#tag-details .tag-tree > div,
.tag-filter .tag-tree > div {
  margin-left: 8px;
}
#tag-details .tag,
.tag-filter .tag {
  background-color: transparent;
}
#tag-details .tag.closed div,
.tag-filter .tag.closed div {
  display: none;
}

#tag-details .tag.root {
  display: block;
}
#tag-details .tag.root > .toggle {
  display: none;
}
#tag-details .tag.root > label {
  display: none;
}
#tag-details .tag.root::after {
  display: none;
  opacity: 0;
}
#tag-details .tag-tree.no-select input[type=checkbox] {
  display: none;
}

.add-child {
  display: none;
  position: absolute;
  right: 4px;
}

.tag:not(.untagged) > label:hover > .add-child,
.add-child:hover {
  display: inline-block;
}

#media-details > div {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas: "tag-album" "sizer" "properties";
  grid-template-rows: auto auto 1fr;
}
#media-details > div #tag-album-details {
  grid-area: tag-album;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0px;
}
#media-details > div .grid-sizer {
  grid-area: sizer;
}
#media-details > div .details.property {
  grid-area: properties;
  overflow: hidden;
}
#media-details > div .details.property .properties {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#media-details > div .details.property .properties .preview {
  flex: 1;
}
#media-details > div .details.property .properties .preview .center {
  height: 100%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
#media-details > div .details.property .properties .preview .center img {
  position: relative;
  max-width: 100%;
}

#tag-album-details {
  max-height: 100%;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
#tag-album-details > div {
  flex: 1 0 auto;
  vertical-align: top;
  min-width: 45%;
  width: auto;
  margin-bottom: 2rem;
  display: inline-block;
}
#tag-album-details > div h1 {
  background-color: #ccc;
}
#tag-album-details .partial {
  color: #774444;
}

.album-filter-filter h1 {
  position: relative;
}
.album-filter-filter h1 .buttons {
  position: absolute;
  top: 10px;
  right: 2px;
  white-space: nowrap;
  display: none;
}
.album-filter-filter h1 .buttons button {
  background-color: transparent;
  display: inline-block;
  border: 0px;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  background-size: cover;
}
.album-filter-filter h1:hover .buttons {
  display: inline-block;
}
#media-filter .property-filter ul {
  padding: 2px;
}

#tag-manager {
  width: 800px;
  margin: auto auto;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  height: 100%;
}
#tag-manager h1 {
  flex: 0 0 auto;
  width: 100%;
  padding: 8px;
  display: block;
  background-color: #aaf;
  text-align: center;
}
#tag-manager .tag-tree {
  flex: 1 1 auto;
  overflow: auto;
  padding-left: 4px;
  padding-top: 4px;
  position: relative;
}
#tag-manager .tag-tree > .tag:last-child {
  margin-bottom: 4rem;
}
#tag-manager .children {
  position: relative;
  padding-left: 4rem;
}
#tag-manager .tag {
  position: relative;
}
#tag-manager .tag .on-hover {
  display: none;
}
#tag-manager .tag .buttons {
  display: none;
  position: absolute;
  top: 4px;
  right: 4px;
  height: 2.5em;
}
#tag-manager .tag button {
  margin-left: 8px;
  border: 0px;
  text-decoration: underline;
  background-color: transparent;
}
#tag-manager .tag .self:hover {
  border: 1px dashed #aaa;
  height: 3em;
}
#tag-manager .tag .self:hover .on-hover {
  display: block;
}
#tag-manager .tag.root .edit {
  display: none !important;
}
#tag-manager .tag .self {
  background-color: transparent;
  transition: background-color 1s;
}
#tag-manager .tag.new .self {
  background-color: yellow;
  transition: background-color 1s;
}
#tag-manager .tag.dragging {
  background-color: aqua;
}
#tag-manager .tag.dragging .button {
  display: none !important;
}
#tag-manager .tag.dragging .children {
  display: none;
}
#tag-manager .tag.drag-over:not(.dragging) > .self {
  padding-bottom: 2em;
  background-color: yellow;
  border: 1px dashed #aaa;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.danger {
  background-color: #ffaaaa;
}

.success {
  background-color: #aaffaa;
}

button {
  border-radius: 4px;
}

button:hover {
  border-color: #ffff44;
  outline: 2px #ffff77 outset;
}

.panel {
  border: 1px solid #fafafa;
  background-color: white;
}

#view-options {
  height: 4em;
}

#status-bar {
  top: unset;
  height: 4em;
}

.name-value {
  width: 100%;
}
.name-value > div {
  margin-top: 1em;
}
.name-value label {
  display: inline-block;
  width: 12em;
  margin-right: 2em;
  vertical-align: top;
}
.name-value input,
.name-value .value {
  width: calc(100% - 15em);
  display: inline-block;
}

.settings-component {
  padding: 2rem;
  background-color: white;
  color: black;
  width: 100%;
  height: 100%;
}

.tree {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
  padding: 2px;
  max-height: calc(100% - 4rem);
  height: 20rem;
  overflow: auto;
}
.tree .tree-item {
  display: grid;
  width: 100%;
  grid-template-areas: "open check name" "children children children";
  grid-template-columns: -webkit-max-content -webkit-max-content 1fr;
  grid-template-columns: max-content max-content 1fr;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
}
.tree .tree-item .open-close {
  grid-area: open;
  width: 10px;
  position: relative;
}
.tree .tree-item .children {
  grid-area: children;
  margin-left: 2rem;
  border-left: 1px solid #aaa;
  border-bottom: 0px solid red;
}
.tree .tree-item input[type=checkbox] {
  grid-area: check;
  width: 16px;
  height: 16px;
  background-color: blue;
  margin-left: 6px;
}
.tree .tree-item span.name {
  grid-area: name;
  white-space: nowrap;
}
.tree .tree-item > .open-close::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  top: 4px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  padding: 3px;
}
.tree .tree-item.open > .open-close::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  top: 4px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  padding: 3px;
}
.tree .tree-item.closed .children {
  display: none;
}

.folders.selected {
  display: block;
  border: 1px solid #dddddd;
  background-color: #f0f0f0;
  padding: 2px;
  height: 5rem;
  overflow: auto;
}
.folders.selected ul {
  padding-left: 2rem;
}

.grid-sizer {
  z-index: 1000;
  position: relative;
  margin: 0;
  padding: 2px;
  background-color: transparent;
}
.grid-sizer.left {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  width: 4px;
  cursor: col-resize;
}
.grid-sizer.right {
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  width: 4px;
  cursor: col-resize;
}
.grid-sizer.bottom {
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  height: 4px;
  cursor: row-resize;
}

.grid-sizer.dragging {
  opacity: 0;
}

.toggle-next-sibling {
  background-color: #dddddd;
  padding: 8px 2em;
  position: relative;
  border-top: 1px solid black;
}
.toggle-next-sibling ~ * {
  transform: scaleY(1);
  transform-origin: top;
  height: unset;
  transition: transform 500ms;
}
.toggle-next-sibling.hide-next-sibling + * {
  transform: scaleY(0);
  transform-origin: top;
  height: 0;
  transition: transform 500ms, margin 200ms;
  overflow: hidden;
  margin: 0;
}
.toggle-next-sibling::after {
  content: "";
  position: absolute;
  left: 4px;
  width: 4px;
  height: 4px;
  top: 8px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  padding: 3px;
}
.toggle-next-sibling.hide-next-sibling::after {
  position: absolute;
  left: 4px;
  width: 4px;
  height: 4px;
  top: 8px;
  border: 0px solid #aaa;
  border-width: 0 2px 2px 0;
  transform: rotate(-45deg);
  padding: 3px;
}
.toggle-next-sibling + div {
  padding: 4px;
}/*# sourceMappingURL=MediaTagger.css.map */