body {
  padding: 0px;
  margin: 0px;
}

#main-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.hidden {
  display: none !important;
}

.panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid red;
  z-index: 10;
  background-color: white;
}

#view-options {
height: 4em;
}

#tags {
  left: unset;
  bottom: unset;
  top: 4em;
  width: 15rem;
  height: calc(50vh - 4em);
}


#properties {
  left: unset;
  bottom: unset;
  top: 50vh;
  width: 15rem;
  height: calc(50vh - 4em);
}

#status-bar {
  top: unset;
  height: 4em;
}
#media {
  z-index: 1;
  background-color: black;
}