body.theme-dark {
    --foreground-color: hsl(220, 50%, 98%);
    --background-color: hsl(0, 0%, 28%);
        --component-foreground-color: hsl(216, 45%, 98%);
            --component-background-color: hsl(180, 1%, 43%);
}