
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

body {
    font-family: sans-serif;
}

.font-monospace {
    font-family: "Courier New";
}

.font-serif {
    font-family: "Georgia";
}

.font-sans-serif {
    font-family: "Ariel";
}

.font-cursive {
    font-family: 'Cedarville Cursive', cursive;
}