:root {
        --z-index-bottom: 0;
            --z-index-medium: 100;
            --z-index-high: 1000;
        
            --z-index-splitter: 2000;
            --z-index-popup: 3000;
            --z-index-top: 5000;
}

#main-content {

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: stretch;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "view-options"
        "content"
        "status";
    grid-template-rows: max-content 1fr max-content;
}  