<div>
  <div class="album-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="album-closed" data-class-value="hide-next-sibling">Albums <span class='selected'></span></span></h1>
    <div class="filter">album filter</div>
  </div>
  <div class="tag-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="tag-closed" data-class-value="hide-next-sibling">Tags <span class='selected'></span></h1>
    <div class="filter">tag filter</div>
  </div>
  <div class="property-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="property-closed" data-class-value="hide-next-sibling">Properties <span class='selected'></span></h1>
    <div class="filter">prop filter</div>
  </div>


</div>