<div id="media-view">
  <div id="media-details"  class="media-details panel  has-setting"   data-style-setting-name="details-width" draggable="true"  data-style="width" ></div>
  <div id="date-filter"  class="date-filter panel "></div>
  <div id="media-filter"  class="media-filter panel has-setting" data-style-setting-name="filter-width" data-style="width" ></div>
  <div class="media-items items"></div>
  <div class="grid-sizer left details-sizer" draggable="true"></div>
  <div class="grid-sizer right filter-sizer" draggable="true"></div>
</div>

<div id="media-file-popup" class="file popup hidden">
  <button class="group">Group</button>
  <button class="ungroup">Ungroup <span class='group-count'></span></button>
  <button class="tag">Tag <ul class='tags'></ul></button>
  <a href="#" class="view">view</a>
</div>

<script type="text/template" id="media-item-template">
  <div class='media-item unloaded'>
    <span class='name'>name</span>
    <span class='details'>details</span>
    <img   lazy=true data-file-id='{file-id}' class='thumbnail'/>
  </div>
</script>