<div>
  <div class="album-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="album-closed"
      data-class-value="hide-next-sibling">Albums <span class='selected'></span></span></h1>
    <div class="filter">
      <div
        style='border: 1px solid #000; border-radius: 4px;margin: 4px;width: 16px; height: 16px; background-color: green;background-size: cover; background-image: url("image/check.png");'>
      </div>
      <div
        style='border-radius: 4px;margin: 4px;width: 16px; height: 16px; background-color: green;background-size: cover; background-image: url("image/nocheck.png");'>
      </div>
      <div
        style='border-radius: 4px;margin: 4px;width: 16px; height: 16px; background-color: green;background-size: cover; background-image: url("image/child-only-check.png");'>
      </div>
      <div
        style='border-radius: 4px;margin: 4px;width: 16px; height: 16px; background-color: green;background-size: cover; background-image: url("image/child-check.png");'>
      </div>


    </div>
  </div>
  <div class="tag-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="tag-closed"
      data-class-value="hide-next-sibling">
      Tags <span class='selected'></span>
      <span class="buttons">
        <button id="collapse-all-filter-tags" style='background-image: url("image/collapse-all.png");'> </button>
        <button id="expand-all-filter-tags" style='background-image: url("image/expand-all.png");'> </button>
      </span>
    </h1>

    <div class="filter">tag filter</div>
  </div>
  <div class="property-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="property-closed"
      data-class-value="hide-next-sibling">Properties <span class='selected'></span></h1>
    <div class="filter">prop filter</div>
  </div>


</div>