
<div id="media-file-editor" class="">
  <div class="group-buttons">
  <button class="group">Group</button>
  <button class="ungroup">Ungroup <span class='group-count'></span></button>
  </div>
  <div class="key-presses"> </div>
  <div class="selections">
    <div class="tags left">
      <h1>Tags</h1>
      <span class="key-modifier key">CTRL+</span>
      <ul></ul>
    </div>
    <div class="albums right">
      <h1>Albums</h1>
      <span class="key-modifier key">ALT+</span>
      <ul>
      
      </ul>
    </div>
  </div>
</div>

<script type="text/template" class="editor-option-template">
  <div class='option'>
    <label><span class='key'></span><input type='checkbox' name='select'>
        
      <span class='name'></span>
    </label>
  </div>
</script>
