<div class="component">

  <div class="tag-filter filter">
    <h1 class="toggle-next-sibling has-setting" data-class-setting-name="tag-closed"
      data-class-value="hide-next-sibling">
      Tags <span class='selected'></span>
      <span class="filter-op">
        <button class="any filter-op"></button>
      </span>
      <span class="buttons on-hover">
        <button id="collapse-all-filter-tags" style='background-image: url("image/collapse-all.png");'> </button>
        <button id="expand-all-filter-tags" style='background-image: url("image/expand-all.png");'> </button>
      </span>
    </h1>
    <div class="filter">tag filter</div>
  </div>
<div id="album-filter" class="album-filter filter">
  <h1 class="toggle-next-sibling has-setting" data-class-setting-name="album-closed"
    data-class-value="hide-next-sibling">Albums <span class='selected count'></span>
    <span class="buttons">
      <button id="add-album" class="add-album">create</button>
    </span>
  </h1>
  <div class="filter">
  </div>
</div>
<div class="property-filter filter">
  <h1 class="toggle-next-sibling has-setting" data-class-setting-name="property-closed"
    data-class-value="hide-next-sibling">Properties <span class='selected'></span></h1>
  <div class="filter">prop filter</div>
</div>


</div>