<div id="quick-tags">
  <div class="media">
    <div><label><input name="untagged" type='checkbox'>Untagged Only</label></div>
    <div class="images">
      <div class="prev small">
        <div class="prev-3">
          <img class="thumb" data-offset="-3" />
        </div>
        <div class="prev-2"><img class="thumb" data-offset="-2" /></div>
        <div class="prev-1"><img class="thumb" data-offset="-1" /></div>
      </div>
      <a href="." class="big-view">view in window</a>
      <div class="focus"><img class="image" data-offset="0" /></div>
      <div class="next small">
        <div class="next-1"><img class="thumb" data-offset="1" /></div>
        <div class="next-2"><img class="thumb" data-offset="2" /></div>
        <div class="next-3"><img class="thumb" data-offset="3" /></div>
      </div>
    </div>
    <div class="image-tags">

    </div>
  </div>
  <div class="quick-select">
    <div class="hotkey">
      <h6>ALT+</h6>
      <h5> Shortcuts</h5>
      <div class="keys">

      </div>
    </div>
    <div class="recent-tags">
      <h6>ALT+</h6>
      <h5>Recent</h5>
      <div class="recent">

      </div>
    </div>
  </div>
  <div class="tag-tree">
    <div class="search">
      <span class="search input">
        <span class="start"></span><span class="cursor"></span><span class="end"></span>
      </span>
    </div>
    <div class="create" style="display:none">
      <span class="parent"></span>
      <span class="name"></span>
      <button class="create-tag">Create</button>
    </div>
    <div class="tags"></div>
  </div>

</div>


</div>

<script type="text/template" class="quick-tag-tree-node-template">
  <div class='tag node' draggable="true">
    <div class='self'>
      <label>
        <input type='checkbox' class='selected' name='selected'><span class='name'></span>
      </label>
      <div class='buttons on-hover'>
        <span class='hotkey'>CTRL+
          <span class="input active">
            <span class="start key"></span>
            <span class="cursor"></span>
          </span>  
        </span>
        <button class='edit'>edit</button> <button class='hide'>delete</button>
      </div>
      
    </div>
    <div class='children empty'></div>
  </div>
</script>

<script type="text/template" class="quick-tag-key-template">
  <div class='key'>
      <h6 class='ctrl-key'></h6>
      <div class='tag-name'></div>
  </div>
</script>