<div id="tag-manager">
<h1>Tag Manager</h1>
<div class="manager-tag-tree">

</div>
</div>

<script type="text/template" id="tag-manager-tag-template">
  <div class='tag' draggable="true">
    <div class='self'>
      <span class='name'></span>
      <div class='buttons on-hover'>
        <div><button class='edit'>edit</button> <button class='hide'>delete</button></div>
        <div><button class='add'>add</button></div>
      </div>
      
    </div>
    <div class='children'></div>
  </div>
</script>

<script type="text/template" class="new-tag-dialog">
  <div class='dialog'>
    <h1>Create Tag</h1>
    <div class='body'>
      <h2>Parent: <span class='parent'></span></h2>
      <input type='text' name='name' placeholder="Tag name" required/>
      <input type='hidden' name='parentId' value='root'/>
    </div>
    <div class='messages'></div>
    <div class='buttons'>
      <button class='ok'>Create</button>
      <button class='cancel'>Cancel</button>
    </div>
  </div>
</script>

<script type="text/template" class="edit-tag-dialog">
  <div class='dialog'>
    <h1>Edit Tag</h1>
    <div class='body'>
      <h2>Parent: <span class='parent'></span></h2>
      <input type='text' name='name' placeholder="Tag name" required/>
      <input type='hidden' name='tagId' value='root'/>
    </div>
    <div class='messages'></div>
    <div class='buttons'>
      <button class='ok'>Save</button>
      <button class='cancel'>Cancel</button>
    </div>
  </div>
</script>