
.media-filter {
    grid-area: media-filter;
    background-color: var(--background-color);
    overflow-y: auto;
    overflow-x: hidden;
}

.album-filter {
    h1 {
        button {
            border-radius: var(--space);
            background-color: var(--accent-color-foreground);
            color: var(--control-foreground-color);
        }
    }
}