:root {
    --dialog-background-color: hsl(200 50% 50%);
    --focus-background-color: hsl(200 50% 50%);
    --light-background-color: hsl(0 0% 100%);
    --heading-background-color: hsl(50 50% 50%);
}