#media-details > div {
  height: 100%;
  display: grid;
  grid-template-areas: 
  "tags"
  "sizer"
  "properties";
  grid-template-rows: auto auto 1fr;

  #tag-details {
    grid-area: tags;
    overflow: auto;
    padding: 4px;
  }
  .grid-sizer {
    grid-area: sizer;
  }

  #properties {
    grid-area: properties;
    overflow: scroll;  }
}