#media-details > div {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-areas: 
  "tags"
  "sizer"
  "properties";
  grid-template-rows: auto auto 1fr;

  #tag-details {
    grid-area: tags;
    overflow: auto;
    padding: 4px;
  }
  .grid-sizer {
    grid-area: sizer;
  }

  .details.property {
    grid-area: properties;
    overflow: hidden;
  
    
    .properties {
      display:flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .preview {
        flex: 1;
        .center {
          height: 100%;
          position: relative;
          left: 50%;
          transform: translate(-50%);
          img {
          position: relative;
            max-width: 100%;
          }
        }
      }
    }
  }
}