#media-view {
    background: linear-gradient(142deg, #777777, #ffffff), linear-gradient(0deg, #777777, #ffffff);
        background-size: 3px 3px;


    user-select: none;
    grid-area: content;
    display: grid;
    grid-template-areas:
        "date-filter date-filter date-filter date-filter date-filter"
        "media-filter grid-sizer-filter   media-items grid-sizer-details  media-details";
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-rows: auto 1fr;
    height: 100%;
    max-height: 100%;


    &>* { 
        background-color: transparent;
    }

    .media-items {
        grid-area: media-items;
        height: auto;
        max-height: 100%;
        overflow: auto;
        position: relative;

        .layout {
            position: relative;
        }

      .layout-view {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #dddddd;
        }

        .media-item.unloaded {
            background-image: url("../image/loading.gif");
        }

        .media-item {
            left: 0;
            top: 0;
            overflow: hidden;
            border: 2px solid #444444;
            display: block;
            position: absolute;
            aspect-ratio: 1/1;
            background-size: 32px;
            background-repeat: no-repeat;
            background-position: center;

            .name {
                position: relative;
                z-index: 2;
                background-color: #00444477;
                max-width: 100%;
            }

            .details {
                position: relative;
                z-index: 2;
                background-color: black;
                min-height: 3rem;
                color: white;
                display: none;
            }

            img {

                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                aspect-ratio: auto;
                max-width: 100%;
                max-height: 100%;
                z-index: 1;


            }


            .error {
                display: block;
                width: 32px;
                height: 32px;
                left: 48px;
                top: 48px;
                background-color: red;
            }

            &.group::after {
                content: '';
                position: absolute;
                display: block;
                right:0;
                bottom:0;
                width:32px;
                height: 32px;
                background-image: url(../image/group.png?v=1);
                z-index: 100;
                background-size: cover;
            }
                        &.group.primary::after {
                            content: '';
                            position: absolute;
                            display: block;
                            right: 0;
                            bottom: 0;
                            width: 32px;
                            height: 32px;
                            background-image: url(../image/group-primary.png?v=1);
                            z-index: 100;
                            background-size: cover;
                        }
        }

        .media-item.selected {
            outline: 6px solid #ffa;

        }

        .media-item.loaded {
            background-image: unset;
        }

        .group img {
            
        }

    }

    .filter-sizer {
        grid-area: grid-sizer-filter;
    }
        .details-sizer {
            grid-area: grid-sizer-details;
        }
    .detailed {
        .media-item {
            .details {
                display: block;
            }
        }
    }

    .minimal {
        .media-item {
            .name {
                display: none;
            }
        }
    }

    .date-filter {
        grid-area: date-filter;
        max-height: 3rem;
    }

    .media-filter {
        grid-area: media-filter;
        background-color: #ffffff;
        width: 250px;
        overflow: auto;

        .allnone a { 
            display: inline-block; 
            margin-right: 4px; margin-bottom: 8px;}
    }

    .media-details {
        height: 100%;
        overflow: auto;
        grid-area: media-details;
        width: 250px;    }



}

.popup {
    position: absolute;
    width: 200px;
    height: auto;
    border: 1px solid black;
    background-color: #aaaaff;
    padding: 1rem;
    z-index: 100;

    button {
        padding: 4px
    }

    button.ungroup {
        display: none;
    }

    button.group {
        display: none;
    }


    &.grouped {
        button.ungroup {
            display: inline-block;
        }


    }
}

.multi-select {
    .popup {
        button.group {
            display: unset;
        }
    }
}