#quick-tags {
    --border-color: #000;
    --background-color: #ddd;
    --padding: 8px;

    height: 100%;
    background-color: var(--background-color);
    display: grid;
    grid-template-areas: "media select tree";
    grid-template-columns: 320px auto 1fr;
    position: relative;

    .media,
    .quick-select,
    .tag-tree {
        padding: 2px;
        border-right: 1px solid var(--border-color);
        height: 100%;
        overflow: auto;
    }

    .media {
        grid-area: media;
    }

    .quick-select {
        grid-area: select;
        min-width: 200px;
        padding: var(--padding);
        .hotkey {
            min-height: 50%;
            border-bottom: 1px solid #444;        }
        .hotkey, .recent-tags {
            margin-bottom: 4px;padding-bottom: 4px; 
            h5 {
                display: inline-block;
                margin-left: 8px;
            }
            h6 {
                display:inline-block;
                color: #777;
                width: 3em;
                font-variant: small-caps;
            }
            .keys, .recent {
                > .key { display: block;}
                white-space: nowrap;
                h6 { display: inline-block; color: #000;
                text-align: center;}
                div { display: inline-block;}
            }

        }
    }

    .tag-tree {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        height: 100%;
        overflow: hidden;
        
        grid-area: tree;
        border-right: 0;
        padding: var(--padding);
        >span {
            flex: 0 0 2rem;
        }
        >div {
            flex: 1 1 auto;
            overflow: auto;
        }

        .search {
            height: 2em;
            line-height: 2em;
            border: 1px solid black;
            color: 1px solid #777;
            background-color: white;
            display: block;
            padding: 2px;
            width: 50em;
            position: relative;
            .start:empty::after{
                content: '  search...';
                color: #aaa;
                position: absolute;
                top: 0px;
                left: 4px;
            }
            .cursor {
                width: 2px;
                background-color: #777;
                height: 80%;
                top: 10%;
                display:none;
                            animation-duration: 0.5s;
                                animation-name: cursorBlink;
                                animation-iteration-count: infinite;
                                animation-direction: alternate;
            }
            &.active .cursor {
                display: inline-block;
            }
        }
    }

    .small {
        margin: 1em 4px;

        &>div {
            display: inline-block;
            width: 90px;
            height: 90px;
            margin-right: 4px;
            border: 1px solid var(--border-color);
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display:block;
                margin: auto auto;
            }
        }
    }

    .focus {
        display: block;
        border: 1px solid white;
        background-color: white;
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto auto;
        }
    }

    .images {
        margin: auto auto;
        width: fit-content;
        img.rotate-270{
            transform: rotate(270deg);
        }
                img.rotate-90 {
                    transform: rotate(90deg);
                }
    }


    .tag.node {
        position: relative;
        .hotkey {
            font-weight: lighter;
            font-size: var(--small-font-size);

            input {
                width: 40px;
                display: inline-block;
                text-align: center;
            }
        }

        .self {
            position: relative;

            .on-hover {
                display: none;
                position: absolute;
                top: var(--padding);
                right: var(--padding);
            }


            &:hover {
                background-color: #ffa;
                height: 2em;

                .on-hover {
                    display: inline-block;
                }
            }
        }

        .children.empty { display: none;}
        >.children {
            margin-left: 1em;
            border-left: 1px dotted #777;
            padding-left: 0px;
            position: relative;
        
        >.tag.node {
                padding-left: 8px;
                > .self::after{
                    content: ' ';
                    position: absolute;
                    top:50%;
                    left:-6px;
                    width: 8px;
                    height:1px;
                    border-top: 1px dotted #777;
                }
            }
        }

    }

    .no-items {
        font-style: italic;
        display: block;
        text-align: center;
    }

        @keyframes cursorBlink {
            from {
                width: 0px;
            }
    
            to {
                width: 1px;
            }
        }
    
    
}