.tag-filter {
  h1 {
    position: relative;

    .buttons {
      position: absolute;
      top: 10px;
      right: 2px;
      white-space: nowrap;
      display: none;

      button {
        background-color: transparent;
        display: inline-block;
        border: 0px;
        border-radius: 4px;
        width: 16px;
        height: 16px;
        background-size: cover;
      }
    }
  }

  h1:hover {
    .buttons {
      display: inline-block;
    }
  }


}

#tag-details,
.tag-filter {

  .tag-tree {
    background-color: transparent;



    .tag {
      position: relative;
      display: grid;
      grid-template-areas:
        "toggle checkname"
        ". children";
      grid-template-columns: 12px 1fr;
      grid-template-rows: 20px auto;

      .toggle {
        grid-area: toggle;
        height: 10px;
        background-color: transparent;
        z-index: 10;

        &+label {
          margin-left: 4px;
        }

      }

      label {
        grid-area: checkname;
        white-space: nowrap;
      }

      input.check {}

      .name {
        padding-left: 2px;
      }

      a.add-child {
        position: absolute;
        right: 8px;
        display: none;
        text-decoration: none;

        &:hover {
          font-weight: bolder;

        }

        ;
      }

      &.untagged .add-child {
        display: none !important;
        height: 0;
      }

      &.hover>label {
        padding: 2px;
        font-weight: bold;
        border: 1px dashed #eeeeee;
      }

      &.hover>.add-child,
      .add-child:hover {
        display: inline-block;
      }

      .children {
        grid-area: children;

        .new {
          background-color: #aaaa00;
          padding: 2px;
          position: relative;

          .tag-name {
            width: 100%;
          }

          .tag-name:placeholder-shown~div .ok {
            visibility: hidden;
          }

          .cancel {
            position: absolute;
            right: 0;
          }
        }
      }
    }

    .has-children::after {
      content: '';
      position: absolute;
      left: -0px;
      width: 4px;
      height: 4px;
      top: 2px;
      border: 0px solid #aaa;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      padding: 3px;
    }

    .has-children.closed::after {

      position: absolute;
      left: -0px;
      width: 4px;
      height: 4px;
      top: 2px;
      border: 0px solid #aaa;
      border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
      padding: 3px;
    }




    &>div {
      margin-left: 8px;
    }



  }



  .tag {
    background-color: transparent;
  }

  .tag.closed div {
    display: none;
  }
}

.tag-filter .add-child {
  display: none !important;
  height: 0;
}

#tag-details {
  .tag.root {
    display: block;

    >.toggle {
      display: none;
    }


    >label {
      input[type='checkbox'] {
        display: none;
      }

      display: inline-block;
      width: 100%;
    }


    &::after {
      display: none;
      opacity: 0;
    }
  }

  .tag-tree {
    &.no-select {
      input[type='checkbox'] {
        display: none;
      }
    }

    &.multi-select {}
  }

  .tag.partial>label {
    color: #ffdddd;
  }
}